@import "reset";

$main-container: 65rem;
$main-font-name: Open Sans;
$secundary-font-name: Roboto;
$primary-color: #00c0ee;
$secundary-color: #666666;
$screen-sm-min: 576px;

* {
  font-family: $main-font-name;
  font-size: 1rem;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 2.937rem;
  display: flex;
  border-bottom: 2px solid #c7c7c7;
  align-items: center;
  justify-content: center;
  }

  .header-container {
    width: $main-container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .item-cart-count {
    width: 0.75rem;
    height: 0.75rem;
    background-color: $primary-color;
    border-radius: 1rem;
    padding: 0.15rem 0.3rem;
    font-family: $secundary-font-name;
    font-size: 0.625rem;
    color: #fff;
    position: relative;
    right: -1.725rem;
}

main {
  width: $main-container;
  margin: 3.25rem auto;

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2rem;
      font-family: $main-font-name;
    }

    select {
      width: 8.875rem !important;
      font-family: $main-font-name;
      padding: 0.625rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      background: url(../img/seta.png) no-repeat center right #fff;
      background-position: 7.187rem;

      option {
        padding: 1rem !important;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}

.shopping-container {
  display: grid;
  grid-template-columns: 200px 1fr;

  aside {
    display: flex;
    flex-direction: column;

    .colors-container {
      margin-top: 2rem;

      h3 {
        font-family: $main-font-name;
        margin-bottom: 1rem;
      }

      a {
        font-size: 0.75rem;
        color: $secundary-color;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }

      ul {
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      div {
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;
      }
    }

    .sizes-container {
      margin-top: 2rem;

      ul {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;

        li {
          width: 2rem !important;
          height: 2rem !important;
          padding: 0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(0, 0, 0, 0.5);
          text-align: center;
          transition: 0.5s;

          &:hover {
            border-color: $primary-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "■";
  position: relative;
  right: 0;
  top: -0.4rem;
  display: grid;
  place-content: center;
  color: $primary-color;
}

label {
  font-family: $main-font-name;
  font-size: 0.875rem;
}

input[type="checkbox"]:checked::after label::after {
  color: red;
}

article {
  margin-top: 2rem;

  .btn-loadmore {
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    width: 12.062rem !important;
    margin: 0 auto;
    height: 2rem;
    background-color: $primary-color;
    color: #fff;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid $primary-color;
    transition: 0.5s;

    &:hover {
      border: 2px solid #000;
      background: transparent;
      color: #000;
    }
  }

  .products {
    margin: 0 auto;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: red;
      margin: 0 auto;

      li {
        margin-bottom: 3rem;
      }

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
      }

      h3 {
        text-transform: uppercase;
        font-size: 0.875rem;
        text-align: center;
        margin-top: 0.625rem;
      }

      p {
        font-weight: 700;
        text-align: center;
        margin-top: 0.625rem;
      }

      p + p {
        text-align: center;
        color: $secundary-color;
        margin-top: 0.625rem;
        font-weight: normal;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12.062rem !important;
        height: 2rem;
        background-color: #000;
        color: #fff;
        margin: 0 auto;
        margin-top: 1rem;
        font-weight: 700;
        text-decoration: none;
        border: 2px solid #000;
        transition: 0.5s;

        &:hover {
          border: 2px solid #000;
          background: transparent;
          color: #000;
        }
      }
    }
  }
}

footer {
  background-color: #000;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
  font-family: $main-font-name;
}

.hiddenStyle {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#shopping .open {
  max-height: 2000px;
}
